# ALDI products
> This notebook analyzes ALDI products fetched using the supermarket chain's API in `../fetch_prices.py`.

In [3]:
import os
import pandas as pd
import jupyter_black
import altair as alt
import altair_stiles as altstiles

In [4]:
jupyter_black.load()
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None
alt.data_transformers.disable_max_rows()
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("stiles")

ThemeRegistry.enable('stiles')

---

## Read

In [9]:
src = pd.read_csv("../data/processed/aldi_products_detailed.csv", dtype=str)

In [ ]:
src['price_num'] = src['preFormattedUnitContent'].str.split('$', '')

In [11]:
src["productConcreteSku"].value_counts()

productConcreteSku
0000000000001196    8
0000000000019631    7
0000000000023791    7
0000000000023729    7
0000000000023723    7
                   ..
0000000000001495    2
0000000000001515    2
0000000000001547    2
0000000000001574    2
0000000000045114    2
Name: count, Length: 3341, dtype: int64

In [14]:
src.query('productConcreteSku == "0000000000000002"')

,name,brandName,comparisonPriceUnit,urlSlugText,productConcreteSku,usaSnapEligible,formattedPrice,preFormattedUnitContent,categoryName,categoryKey,mainCategoryName,mainCategoryKey
7063,"Meritage Red Wine, 750 ml",Outlander,ml,outlander-meritage-red-wine-750-ml,0000000000000002,False,$7.99,NaN,Alcohol,1,Alcohol,1
7183,"Meritage Red Wine, 750 ml",Outlander,ml,outlander-meritage-red-wine-750-ml,0000000000000002,False,$7.99,NaN,Red Wine,22,Alcohol,1